.App {
  text-align: center;
}
.card{
  color:#282c34;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cardModal{
  color:#fafbfc;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}
.btnAlter{
  background-color: #619efb;
  border-radius: 10px;
  font  : 18px;
  width : 100px;
  height: 50px;
  color :#282c34;
  transition: 0.8s ease in out;
}
.btnAlter:hover{
  background-color: #28fc5d;
  border-radius: 10px;
  font  :18px;
  color:#282c34;
  transition: 0.8s ease in out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.summer{
    background-image: url("https://v.w-x.co/1615541473848_TWC_SUMMER_2021_NEW_1.jpg?crop=16:9&width=320&format=pjpg&auto=webp&quality=60");
    background-size: cover;
    background-repeat: no-repeat;
}
.winter{
  background-image: url("https://thumbs.dreamstime.com/b/winter-river-foggy-weather-photo-132691605.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
